#gameContainer {
  text-align: center;
}

#gameBoard {
  border: 3px solid;
}

#scoreTxt {
  font-family: "Permenent Marker", cursive;
  font-size: 100px;
}

#resetBtn {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  width: 140px;
  height: 74px;
  border: 4px solid;
  border-radius: 9px;
  background-color: lightblue;
  cursor: pointer;
}